@import url("../../App.css");
.ticket-list-pager-container {
  width: 100%;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ticket-list-span {
  font-weight: bold;
}
.ticket-list-header {
  display: flex;
  /* margin: 5px 8px; */
  height: 50px;
  align-items: center;
}
.ticket-list-span-id {
  margin-left: 10px;
}
.ticket-list-span-sub {
  position: relative;
  left: 15%;
}
.ticket-list-pager {
  color: var(--color-secondary);
  cursor: pointer;
}
.ticket-list-pager-disabled {
  color: #498d95;
  cursor: not-allowed;
}
.ticket-list-divider {
  margin-top: 0;
  margin-bottom: 0;
}
.ticket-list-pager-input {
  outline: none;
  width: 40px;
  padding: 6px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  text-align: center;
}
.ticket-list-page-label {
  text-align: center;
  margin-bottom: 15px;
}
.ticket-list-empty {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.loading-container {
  display: flex;
  justify-content: center;
  padding: 100px;
}
@media screen and (min-width: 1400px) {
  .ticket-list-span-sub {
    left: 20%;
  }
}
